services:
  db:
    image: postgres
    restart: always
    container_name: postgres
    environment:
      POSTGRES_USER: test
      POSTGRES_PASSWORD: test123
      POSTGRES_DB: fastapiTestDb
    volumes:
      - postgres-data:/var/lib/postgresql
    ports:
      - "5432:5432"
  api:
    build: .
    container_name: fastapi
    env_file: .env
    depends_on: 
      - db
    ports: 
      - "8000:8000"

volumes:
  postgres-data:
